<template name="playlist">
  <table class="playlist">
    <thead></thead>
    <tbody>
      {{#if noSongs}}
      <p class="empty-playlist-message">
        The playlist is empty. To add music, search for a song on the <span class="search-text">Search</span> tab.
      </p>
      {{/if}}
      {{#with currentSong}}
        <tr class="current-song">
          <td class="image"><img class="image circular" src="{{image}}"/></td>
          <td class="container">
            <div class="now-playing">Now Playing</div>
            {{title}}
          </td>
        </tr>
      {{/with}}
      {{#each song}}
        <tr>
          <td class="image"><img class="image circular" src="{{image}}"/></td>
          <td class="song">{{title}}</td>
          <td class="money {{moneyDisabled}}" title="Money up">
            <i class="fa fa-fw fa-lg {{monneyUpIcon}}"></i>
            {{money}}
          </td>
          <td class="upvote {{voteDisabled}}" title="{{tooltipUp}}">
            <i class="fa fa-fw fa-lg {{thumbUpIcon}}"></i>
            {{upvotes}}
          </td>
          <td class="downvote {{voteDisabled}}" title="{{tooltipDown}}">
            <i class="fa fa-fw fa-lg {{thumbDownIcon}}"></i>
            {{downvotes}}
          </td>
          <td class="remove-song {{removeDisabled}}" title="{{tooltipRemove}}">
            <i class="fa fa-fw fa-lg {{removeSongIcon}}"></i>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
