.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(icons/logo.png);
    // background-repeat: no-repeat;
    background-color: $light-purple;
    background-attachment: fixed;
    background-position: center;

    form {
        // center horizontally
        text-align: center;
        @include outer-container;
        max-width: $medium-screen;
        @include pad;

        // center vertically
        height: 10rem;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        input {
            font-size: rem(20);
        }
        button {
            font-size: rem(20);
            width: 100%;
        }
    }
}
