<template name="chat">
  <div class="chat">
    <form>
      <input type="text" placeholder="Chat something!" />
    </form>
    <div class="messages">
      {{#each message}}
        {{> chatMessage}}
      {{/each}}
    </div>
  </div>
</template>

<template name="chatMessage">
  <div class="message">
    <img class="chat-image circular" src="{{pic}}" />
    <div class="chat-username">{{name}}</div>
    <div class="chat-time">{{formattedTime}}</div>
    <br/>
    <div class="chat-message">{{message}}</div>
  </div>
</template>
