$playlist-color: $base-accent-color;
$playlist-current-song-color: $base-background-color;
$playlist-current-song-background-color: $base-accent-color;
.playlist {
    margin-top: 0;
    .current-song {
        background-color: $playlist-current-song-background-color;
        td {
            @include span-columns(12);
            @include pad;
            @include reset-display;
            color: $playlist-current-song-color;
        }
        .now-playing {
            color: $deep-orange;
            text-transform: uppercase;
            font-weight: bold;
        }
        .circular {
          border-radius: 150px;
          -webkit-border-radius: 150px;
          -moz-border-radius: 150px;
        }

        .image {
            width: 50px;
            float: left;
            margin-right: 15px;
        }
    }
    tr {
        @include span-columns(12);
        @include row(table);
    }
    td.image {
        @include span-columns(2);
        @include pad;

        .circular {
          border-radius: 150px;
          -webkit-border-radius: 150px;
          -moz-border-radius: 150px;
        }
        width: 100px;
    }
    td.song {
        @include span-columns(6);
        @include pad;
    }
    td.money {
        @include span-columns(2);
        @include pad;
    }
    td.remove-song {
        @include span-columns(2);
        @include pad;
        text-align: center;
        color: $deep-orange;
        &:hover {
            color: $base-background-color;
            background-color: $deep-orange;
            cursor: pointer;
        }
    }
    td.remove-song.remove-disabled {
        &:hover {
            cursor: default;
            background-color: $base-background-color;
        }
    }
    td.upvote, td.downvote {
        @include span-columns(2);
        @include pad;
        text-align: center;
        color: $playlist-color;
        &:hover {
            color: $base-background-color;
            background-color: $playlist-color;
            cursor: pointer;
        }
    }
    td.upvote.vote-disabled, td.downvote.vote-disabled {
        &:hover {
            cursor: default;
            background-color: $base-background-color;
            color: $playlist-color;
        }
    }
}
.empty-playlist-message {
    text-align: center;
    color: $medium-gray;
    .search-text {
        color: $deep-orange;
        font-weight: bold;
        text-transform: uppercase;
    }
}
