.player {
    text-align: center;
    $seek-bar-color: $base-background-color;
    $progress-bar-color: $deep-orange;
    $disabled-color: $medium-gray;
    $seek-bar-height: $base-line-height;

    @include outer-container;
    .playpause, .ff-button, .vendor-icon {
        @include span-columns(2);
        @include pad;
        &:hover {
            cursor: pointer;
        }
    }
    &.disabled .playpause, &.disabled .ff-button, &.disabled .vendor-icon {
        &:hover {
            cursor: default;
        }
        i {
            color: $disabled-color;
            &:hover {
                cursor: default;
            }
        }
    }
    .seek-bar {
        @include span-columns(6);
        position: relative;
        &:hover {
            cursor: pointer;
        }
        height: $seek-bar-height;
        margin-top: flex-gutter();
        background-repeat: repeat-x;
        background-color: $seek-bar-color;
        .progress-bar {
            display: block;
            width: 0%;
            height: 100%;
            background-color: $progress-bar-color;
        }
    }
    &.disabled .seek-bar {
        background-color: $disabled-color;
        &:hover {
            cursor: default;
        }
    }
    /*.ff-button {*/
        /*@include span-columns(2);*/
        /*@include pad;*/
        /*&:hover {*/
            /*cursor: pointer;*/
        /*}*/
    /*}*/
    .song-title {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        color: $base-accent-color;
        overflow: hidden;
    }
    /*.vendor-icon {*/
        /*@include span-columns(2);*/
        /*@include pad;*/
        /*&:hover {*/
            /*cursor: pointer;*/
        /*}*/
    /*}*/
    /*&.disabled li {*/
        /*cursor: default;*/
        /*color: $disabled-color;*/
    /*}*/
}
.player.client-player .seek-bar {
    @include span-columns(8);
    cursor: default;
}
