<template name="playerSetup">
  <div class="player-setup">
  <h1>{{barId}}</h1>
    {{#if loggingIn}}
       Logging In
    {{else}}
       <img style="float:left; z-index:-10; border-radius: 150px; width: 100px; position:absolute;" src="{{currentUser.profile.image}}" />
       <div style="margin-left:100px; margin-top:100px;">{{currentUser.profile.name}}</div>
       <form>
        <input type="text" id="box-name">
        <!-- {{pos.lon}} {{pos.lat}} -->
        <p style="display:none; color: red;" class="error">Bar already exists</p>
        <button type="submit">Create JukeBox</button>
      </form>
      <table class="search-results">
        <thead></thead>
        <tbody>
          {{#each bars}}
            {{> barResult}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</template>

<template name="barResult">
  <tr class="{{inPlaylist}}">
    <td class="song-title">{{name}}</td>

    <td class="preview" id="select-bar" title="Preview">
      <i class="fa fa-fw fa-lg fa-toggle-right"></i>
    </td>
  </tr>
</template>